<nav>
    <a href="accueil.ejs" class="active">Accueil</a>
    <a href="presentation.ejs">Je me présente</a>
    <a href="aventure.ejs">Aventure Digitale</a>
    <a href="realisations.ejs">Mes réalisations</a>
</nav>